<br><br>
  <div class="container" id="contenedor" align="center" >
    <div class="col-sm-12">
      <div class="col-sm-4 " >
        <br><br><br>
        <p class="api" style="font-size:40px; color:#FFE012; ">Backend</p>
      </div>
      <div class="col-sm-4">
            <h1 style="font-family: 'Poiret One', cursive;">House Code</h1>
            <br>
            <img src="/assets/img/gps.png" class="img-responsive" alt="Card" title="Tarjeta de pago." id="ihj">
            <br><br>
            <p class="api">API RestFull</p>
            <p>Desarrollo de app/Web services/SQL/Ruby on rails <span style="display:online;"><img src="/assets/img/rubyif2.png"></span></p>

        </div>
      <div class="col-sm-4">
        <br><br><br><br>
        <p class="api" style="font-size:40px; "><strong style="color:#D32F2F;">Dev</strong> <small style="color:#FFB600;">Néstor Iván</small></p>

      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4" >
        <div align="center" class="salto" >
        <a href="https://twitter.com/NestorMDDev" target="_blank"><img src="/assets/img/twt.png" class="img-responsive" alt="Card" title="twitter" ></a>
        <a href="https://www.facebook.com/nestorivan.moralesduran.58" target="_blank"><img src="/assets/img/fb.png" class="img-responsive" alt="Card" title="Facebook" ></a>
        <a href="https://github.com/DNimdis" target="_blank"><img src="/assets/img/github.png" class="img-responsive" alt="Card" title="github" ></a>

        </div>
      </div>

    </div>



  <style media="screen">

    nav{
  -webkit-box-shadow: -1px 3px 11px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 11px 1px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 11px 1px rgba(0,0,0,0.75);
    }
.salto img {
    display: inline;
    padding-bottom: 10px;
}

  </style>
